/* RESET global */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
li {
  margin-block-end: 0;
}
 
body {
    font-family: 'Albert Sans', Arial, Helvetica, sans-serif;
    width: 1000px;
    height: auto;
    max-width: 1000px;
    margin: 0 auto;
    color: rgb(78, 37, 44);
    background-image: url(./Assets/Fundo.jpg);
}

#menu {
  width: 100%;
  height: 70px;
  background-color: #91391e;;
  padding-top: 20px;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 1px;
}

#menu ul {
  display: flex;
  justify-content: space-around;

}

#menu ul li {
  list-style: none;
}

#menu ul li a {
  text-decoration: none;
  color: wheat;;
  font-size: 22px;
  font-weight: 600;

&:hover {
  color: #91391e;
  text-decoration: none;
  border-radius: 10px;
  border: 1px solid #000;
  background-color: wheat;
  color: #91391e;
}
}

#titulo {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(247, 225, 186);
    border: 2px solid #000;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 1.5px;
}
#titulo h1 {
  padding: 10px;
  background-color: #91391e;
  border-radius: 10px;
  margin-bottom: 10px;
  color:wheat;
}
#titulo img {
    width: 70%;
    height: auto;
    border-radius: 10px;
    border: 2px solid #91391e;

}


#conteudo {
    width: 100%;
    height: auto;
    background-color: rgb(247, 225, 186);
    padding: 0 60px;
    padding-top: 40px;
    border: 2px solid #000;
    display: grid;
    grid-template-columns: 30% 60%;
    border-radius: 10px;
    gap: 10%;
    padding: 20px;
    margin-bottom: 1.5px;
}


#Ingredientes, #modo-preparo {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.margem-titulos {
  margin: 15px 0;
}

#modo-preparo ol li {
  list-style-type: decimal;
  list-style-position: inside;

  margin-bottom: 10px;

  &:last-child{
    margin: 0;
  }

  &::marker {
    font-weight: 800;
  }
}

#rodape {
  width: 100%;
  height: 80px;
  background-color: #91391e;;
  padding-top: 20px;
  border: 2px solid #000;
  border-radius: 10px;
  padding-bottom: 10px;
  margin-bottom: 1px;
  font-size: 20px;
  color: wheat;
  text-align: center;
}

